@model RoleTopMVC.ViewModels.BaseViewModel
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RolêTop</title>
    <link href="img/logo_simbolo.png" rel="icon" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Livvic&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Londrina+Solid:900%7COpen+Sans" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <!-- Importar o Font Awesome para o projeto -->
    <script src="https://kit.fontawesome.com/349a64cb04.js"></script>
    @if("Cadastro".Equals(@Model.NomeView))
    {
        <link href="../css/cadastro.css" rel="stylesheet" type="text/css">
    }
    @if("Orcamento".Equals(@Model.NomeView))
    {
        <link href="../css/orcamento.css" rel="stylesheet" type="text/css">
    }

    @if("Login".Equals(@Model.NomeView))
    {
        <link href="../css/login.css" rel="stylesheet" type="text/css">
    }
    @if("Historico".Equals(@Model.NomeView))
    {
        <link href="../css/syle-secondary-pages.css" rel="stylesheet" type="text/css">
        <link href="../css/style-dashboard.css" rel="stylesheet" type="text/css">
        <link href="../css/style.css" rel="stylesheet" type="text/css">
    }
    @if("Erro".Equals(@Model.NomeView))
    {
        <link href="../css/style.css" rel="stylesheet" type="text/css">
         <link href="../css/style-dashboard.css" rel="stylesheet" type="text/css">
        
    }
    
</head>

<body>
    <header>
        <nav>
            <div class="section-container">
                <ul>
                    <li id="bt-mobile-menu">
                        <!-- HTML para colocar os ícones do FA -->
                        <a href="javascript:void(0);" class="icon" onclick="toggleMobileMenu()">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href='@Url.Action("Index", "Home")'>Principal</a></li>
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href='@Url.Action("Index", "Home")#local'>Eventos</a></li>
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href='@Url.Action("Orcamento", "Orcamento")'>Orçamento</a></li>
                    <!-- <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href='@Url.Action("Cadastro", "Cadastro")'>Cadastro</a></li> -->
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href='@Url.Action("Index", "Home")#local'>Galeria</a></li>
                    <!-- <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href='@Url.Action("Login", "Cliente")'>Login</a></li> -->
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href='@Url.Action("Index", "Home")#local'>Sobre Nós</a></li>
                    @if(!string.IsNullOrEmpty(@Model.UsuarioEmail))
                    {
                        <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href='@Url.Action("Logoff", "Cliente")'>Logoff</a></li>
                    } else
                    {
                        <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href='@Url.Action("Login", "Cliente")'>Login</a></li>
                        <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href='@Url.Action("Cadastro", "Cadastro")'>Cadastro</a></li>
                    }
                    <li>
                        <a onclick="toggleMobileMenu()" href='@Url.Action("Index", "Home")'>
                            <img src="../img/logo.png" class="logo" id="bt-peca_ja" >
                        </a>  
                    </li>
                </ul>
            </div>
        </nav>
</header>

@RenderBody()

 <script>
        function toggleMobileMenu() {
            var ul = document.querySelector("nav ul");
            var commonButtons = document.querySelectorAll("nav .bt-common-menu");
            var icon = document.querySelector(".icon > i");
            
            ul.classList.toggle("mobile-mode");
            
            if (icon.classList.contains("fa-bars")) {
                icon.classList.remove("fa-bars");
                icon.classList.remove("fa");
                
                icon.classList.add("fas");
                icon.classList.add("fa-times");
            } else {
                icon.classList.remove("fas");
                icon.classList.remove("fa-times");
                
                icon.classList.add("fa");
                icon.classList.add("fa-bars");
            }
            
            for (var button of commonButtons) {
                button.classList.toggle("active");
            }
            
        }
        
    </script>
</body>

</html>